@charset "UTF-8";

* {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: .9rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

div {
    background-color: cornflowerblue;
    height: calc((100%/3) - .6rem);
    width: calc((100%/3) - .6rem);
}