@charset "UTF-8";

.container {
    display: flex;
    border: 1px solid red;
    height: 200px;
    /* flex-direction: column; */
    /* height: 100vh; */
    /* justify-content: flex-end; */
}

.item {
    border: 1px solid;
    flex: 1;
    /* flex: auto; */
}

.item:nth-child(2) {
    order: -1;
}