@charset "UTF-8";

button {
    display: flex;
    gap: .4rem;
    align-items: center;
    background-color: darkred;
    border-radius: 10px;
    border: 0;
    padding: 5px;
}

span.material-symbols-outlined {
    font-size: 15px;
    color: white;
}

p {
    color: white;
}